@import "~@fortawesome/fontawesome-free/css/all.min.css";*

/* styles.css */
body {
  @apply font-gilroy
}

/* In your global CSS file */
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05); /* Adjust the scale value as needed */
  }
}

.zoom-in {
  transition: transform 0.3s ease;
}

.zoom-in:hover {
  animation: zoomIn 0.3s ease forwards;
}

/* src/index.css or your component-specific CSS file */
.scroll-smooth {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

/* src/index.css or your component-specific CSS file */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-title {
  animation: slideUp 1s ease-out;
}

.animate-subtitle {
  animation: slideUp 1.5s ease-out;
}

button {
  cursor: pointer;
}

header {
  transition: background-color 0.5s ease-in-out;
}

/* Add this class for the scrolled state */
.header-scrolled {
  background-color: #005C96; /* Tailwind's gray-800 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/*HORIZONTAL SCROLL */
.scroll-section {
  overflow: hidden;
}

.scroll-container {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.logo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 250px; 
}

.logo-image {
  margin-top: 44px;
  margin-bottom: 44px;
}

.logo-name {
  color: white;
  text-align: center;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/public/fonts/Gilroy-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.main-content {
  padding-top: 50px; 
  min-height: calc(100vh - 80px - 50px);
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto; 
}
.link-3d {
  position: relative;
  text-decoration: none;
  color: #fff; /* Adjust based on your design */
  font-weight: bold;
  transition: color 0.3s, transform 0.3s;
}

.link-3d::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  transform: translateZ(-1px);
  transition: background 0.3s;
}

.link-3d:hover::before {
  background: rgba(0, 0, 0, 0.7);
}

.link-3d:hover {
  transform: translateY(-2px);
  color: #005c96; 
  background: #fff;
}

.link-3d:active {
  transform: translateY(0);
  background: #e0e0e0;
}